/*reset function*/

body,h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
}

#navbar {
    background-color: #46b8da;
}
.navbar-header-left ul li img{
    width: 35px;
    height: 18px;
}
.navbar-header-left ul a{
    font-size: 20px;
    font-weight: bold;
    color: black;

}
.navbar-header-right ul{
    padding-right: 80px;
}
.navbar-header-right li a{
    font-size: 18px;
    color: #122b40;
    font-weight: bold;
}





